body {
     
  
}


header {
    background: linear-gradient(#9A1AE8 1%, #f8b216 50%,#f86816 );
}

.Caixa {
    width: 1200px;
    margin: 0 auto;
    position: relative;

}

nav {
    position: absolute;
    /* posição do testo em relação a pagina*/
    top: 180px;
    /*alinhamento em relação ao tamanho da caixa*/
    right: 0;
    /* afastamento em relação a caixa*/


}

nav li {

    display: inline;
    /* lista fica na horizontal*/
    margin: 0 0 0 15px;
    /* afastamento do testo*/
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: lighter;
    font-size: 22px;
    text-decoration: none;
    /* aparece o traço quando passa o mause*/

}

nav a:hover {
    /* hover modificar algo interativo com o mause*/
    color: red;
    text-decoration: underline;

}



main {

    
    
    background-color: #f86816;
}



.Historia {
    width: 940px; 
    

}
.Missão {

    width: 700px;
    display: block;
    margin-left: auto;
   

}
.Diferencial{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
.Diferencial h3{
    text-decoration: underline;

}

.lista-diferenciais{
font-family: Arial, Helvetica, sans-serif;
font-size:20px;

}
.item{
    line-height: 1.5;
  }
  .item::before{
    content: "★";
  }

  .item:first-child{
    font-weight: bold;
  }


